<div class="page-header">
  <h3><%= @brewery.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <img src="<%= @brewery.image %>" class="img-responsive">
    <dl class="dl-horizontal">

      <dt>Description</dt>
      <dd><%= @brewery.descrip %></dd>

      <!-- <dt>Db api brewery</dt>
      <dd><%= @brewery.db_api_brewery_id %></dd> -->

      <dt>Est</dt>
      <dd><%= @brewery.est %></dd>

      <dt>Website</dt>
      <dd><a href="<%= @brewery.website %>"><%= @brewery.website %></a></dd>


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/breweries" class="btn btn-primary">
        Back
      </a>
      <a href="/breweries/<%= @brewery.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <!-- <a href="/delete_brewery/<%= @brewery.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a> -->
    </div>
  </div>
</div>

<ul>
  <% @brewery.beers.each do |beer| %>
  <li><a href ="/beers/<%= beer.id %>"><%= beer.name %></a></li>
  <% end %>
</ul>
