<div class="page-header">
  <h1>
    Beers
    <a href="/beer/find_beer" class="btn btn-lg btn-success">Search for New Beer</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>User</th>
        <th>Brewed by</th>
        <th>Style</th>
        <th>Descrip</th>
        <th>Abv</th>
        <th>Db api beer</th>
        <th>Avail</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>

      <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.image %></td>
        <td><%= beer.user_id %></td>
        <td><%= beer.brewed_by %></td>
        <td><%= beer.style %></td>
        <td><%= beer.descrip %></td>
        <td><%= beer.abv %></td>
        <td><%= beer.db_api_beer_id %></td>
        <td><%= beer.avail %></td>
        <td><%= beer.rating %></td>
        <td>
          <a href="/beers/<%= beer.id %>" class="btn btn-primary">Show</a>
          <a href="/beers/<%= beer.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_beer/<%= beer.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
